name: Analyze Code Quality

on:
  workflow_call:
    secrets:
      SONAR_TOKEN:
        required: true
      SELISE_GITHUB_PAT:
        required: true

jobs:
  build:
    name: SonarQube Analysis
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: recursive
          token: ${{ secrets.SELISE_GITHUB_PAT }}

      - name: Set Environment Variables
        uses: ./.github/actions/setvars
        with:
          varFilePath: ./.github/variables/vars.env

      - name: Setup Node version 22
        uses: actions/setup-node@v3
        with:
          node-version: 22.16

      - name: Set up JDK 17
        uses: actions/setup-java@v3.12.0
        with:
          distribution: "microsoft"
          java-version: "17"

      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          path: ~\sonar\cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Download test artifacts
        uses: actions/download-artifact@v4
        with:
          name: test-results

      - uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ env.SONARQUBE_HOST }}


    # - name: SonarQube Quality Gate check
    #   uses: sonarsource/sonarqube-quality-gate-action@master
    #   # Force to fail step after specific time.
    #   timeout-minutes: 5
    #   env:
    #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    #     SONAR_HOST_URL: ${{ env.SONARQUBE_HOST }}
